@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Ubuntu&display=swap");
* {
  font-family: "Montserrat";
}
body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 60%;
    height: 60%;
    padding: 5%;
    background-color: #ff4c68;
    border-radius: 20px;
    font-weight: bold;
    font-size: 22px;
}

#heading{
    text-align: center;
    font-size: 35px;
    
}

#heading p{
    margin-top: 0px;
    margin-bottom: 5px;
}


#about{
    display: flex;
    flex-direction: row-reverse;
}

#image{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 2%;
    padding-top: 5%;
}

.dogImage{
    width: 200px;
    border-radius: 20px;
}

@media(max-width : 920px){
    #about{
        display: block;
    }
    #image{
        width: 100%;
        justify-content: center;
    }
    #container{
        height: auto;
        text-align: center;
    }
}