body{
    margin: 0;
    padding: 0;
    background: url(https://img.wallpapersafari.com/desktop/1600/900/52/40/k8YoNW.jpg);
    background-size: cover;
    background-position: centre;
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
}

.forgot-pass img{
    width: 8rem;
}

.forgot-pass{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #494949a1;
    height: 28rem;
    border-radius: 29px;
    padding: 0 17px;
}

.forgot-pass input{
    display: block;
    margin: 2rem 0;
    padding: 8px 4px;
    border: 1px solid ;
    border-radius: 6px;
    outline: none;
    width: 20rem;
}

.forgot-pass button{
    width: 20rem;
    padding: 9px;
    border: 1px solid #ff17b2;
    border-radius: 18px;
    background: #ff17b2;
    color: #fff;
}

.forgot-pass button:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.forgot-pass a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.forgot-pass a:hover{
    color: #ff17b2;
}