body{
    margin: 0;
    padding: 0;
    background: url(https://img.wallpapersafari.com/desktop/1600/900/52/40/k8YoNW.jpg);
    background-size: cover;
    background-position: centre;
    font-family: sans-serif;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
}

.forgot-pass img{
    width: 8rem;
}

.forgot-pass{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #494949a1;
    height: 28rem;
    border-radius: 29px;
    padding: 0 17px;
}

.forgot-pass input{
    display: block;
    margin: 1rem 0;
    padding: 8px 4px;
    border: 1px solid ;
    border-radius: 6px;
    outline: none;
    width: 20rem;
}

.forgot-pass button{
    margin-bottom: 1rem;
    width: 20rem;
    padding: 9px;
    border: 1px solid #ff17b2;
    border-radius: 18px;
    background: #ff17b2;
    color: #fff;
}

.forgot-pass button:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.forgot-pass a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.forgot-pass a:hover{
    color: #ff17b2;
}

/* Navbar */
.btn-close {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
  .navbar {
    padding-bottom: 4.5rem;
  }
  .navbar-brand {
    color: aliceblue;
    font-size: 3rem !important;
    font-weight: bold;
    margin-left: 60px !important;
    text-shadow: 2px 2px 4px rgba(214, 13, 131, 0.219);
  }
  .navbar-brand:hover {
    color: rgb(218, 218, 218) !important;
    transition: all 0.3s;
  }
  .nav-item {
    margin-right: 100px;
  }
  .nav-link {
    font-family: inherit;
    font-size: 2.3rem;
    padding-left: 5px;
    color: white !important;
    text-shadow: 4px 4px 10px rgba(254, 42, 169, 0.378);
  }
  
  .nav-link:hover {
    color: rgb(211, 210, 210) !important;
  }

  .navbar-toggler {
    margin-right: 20px;
  }

 
@media (max-width: 991px) {
    .navbar-brand {
      font-size: 2.2rem !important;
      margin-left: 20px !important ;
    }

    .nav-link{
      font-size: 2rem !important;
    }

    .nav-item {
        margin-right: 0px;
      }
  } 

@media (max-width: 767px) {
    .navbar-brand {
      font-size: 1.5rem;
    }
  }