body{
    margin: 0;
    padding: 0;
    background: url(https://img.wallpapersafari.com/desktop/1600/900/52/40/k8YoNW.jpg);
    background-size: cover;
    background-position: centre;
    font-family: sans-serif;
}

#login-form-div{
    margin-top: 50px;
}

.loginbox{
    max-width: 450px;
    height: fit-content;
    background: rgba(0, 0, 0, 0.486);
    color: #fff;
    top: 50%;
    left: 50%;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 130px;
    margin-top: -110px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    background: #ff17b2;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
    transition: all 0.5s;
}

.loginbox a{
    text-decoration: none;
    font-size: large;
    font-size: 15px;
    line-height: 20px;
    color: rgb(216, 216, 216);
}

.loginbox a:hover{
    color: #ffc107;
}

/* Navbar */
.btn-close {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
  .navbar {
    padding-bottom: 4.5rem;
  }
  .navbar-brand {
    color: aliceblue;
    font-size: 3rem !important;
    font-weight: bold;
    margin-left: 60px !important;
    text-shadow: 2px 2px 4px rgba(214, 13, 131, 0.219);
  }
  .navbar-brand:hover {
    color: rgb(218, 218, 218) !important;
    transition: all 0.3s;
  }
  .nav-item {
    margin-right: 100px;
  }
  .nav-link {
    font-family: inherit;
    font-size: 2.3rem;
    padding-left: 5px;
    color: white !important;
    text-shadow: 4px 4px 10px rgba(254, 42, 169, 0.378);
  }
  
  .nav-link:hover {
    color: rgb(211, 210, 210) !important;
  }
  .navbar-toggler {
    margin-right: 20px;
  }
 
@media (max-width: 991px) {
    .navbar-brand {
      font-size: 2.2rem !important;
      margin-left: 20px !important ;
    }

    .nav-link{
      font-size: 2rem !important;
    }

    .nav-item {
        margin-right: 0px;
      }
  } 

@media (max-width: 767px) {
    .navbar-brand {
      font-size: 1.5rem;
    }
  }