*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background: url(https://img.wallpapersafari.com/desktop/1600/900/52/40/k8YoNW.jpg);
    background-size: cover;
    background-position: centre;
}

div.main{
    width: 400px;
    margin: 100px auto 0px auto;
}

h1{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

div.register{
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #fff;
}

form#register{
    margin: 40px;

}

label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: bold;
}

input#name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background: transparent;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}

input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: #ff17b2;
    color: #fff;
}

input#submit:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

label, span, h2{
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

/* Navbar */
.btn-close {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
  .navbar {
    padding-bottom: 4.5rem;
  }
  .navbar-brand {
    color: aliceblue;
    font-size: 3rem !important;
    font-weight: bold;
    margin-left: 60px !important;
    text-shadow: 2px 2px 4px rgba(214, 13, 131, 0.219);
  }
  .navbar-brand:hover {
    color: rgb(218, 218, 218) !important;
    transition: all 0.3s;
  }
  .nav-item {
    margin-right: 100px;
  }
  .nav-link {
    font-family: inherit;
    font-size: 2.3rem;
    padding-left: 5px;
    color: white !important;
    text-shadow: 4px 4px 10px rgba(254, 42, 169, 0.378);
  }
  
  .nav-link:hover {
    color: rgb(211, 210, 210) !important;
  }
  .navbar-toggler {
    margin-right: 20px;
  }
 
@media (max-width: 991px) {
    .navbar-brand {
      font-size: 2.2rem !important;
      margin-left: 20px !important ;
    }

    .nav-link{
      font-size: 2rem !important;
    }

    .nav-item {
        margin-right: 0px;
      }
  } 

@media (max-width: 767px) {
    .navbar-brand {
      font-size: 1.5rem;
    }
  }