
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Ubuntu&display=swap');
*{
    font-family: 'Montserrat';
}

body::-webkit-scrollbar {
    width: 1.3rem;
  }
  
body::-webkit-scrollbar-track {
    background-color: #fff;
}
  
body::-webkit-scrollbar-thumb {
    background: #ff4c68;
    border: 5px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

#title{
    background-color: #ff4c68;
}
.row h1{
font-family: 'Ubuntu', sans-serif;
size: 3rem;
line-height: 1.5;
font-weight: bolder;
color: white;
}
.container-fluid{
    padding: 3% 15%;
}
#btn-id{
    padding-right: 3px;
}

/* Nav-bar */
.btn-close {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    
    font-family: 'Ubuntu';
    font-size: 3rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-weight: 800 !important;
    font-size: 1.5rem;
    color: white !important;
}

.nav-link:hover{
    color: rgb(211, 210, 210) !important;
}

/* Title image */
.title-image{
    width: 60%;
    transform: rotate(20deg);
}
/* intro */
#intro button:hover{
    font-weight: bolder;
}
/* features */
#features{

padding: 7% 15%;
text-align: center;
}
#icons{
    font-size: 3.5rem;
    padding-bottom: 10px;
    color: #ff4c68;
}
#icons:hover{
color: red;
}
#features h3{
    font-family: 'Ubuntu';
    /* font-weight: bolder; */
    font-size: 1.9rem;
}
#features p{
    font-weight: bold;
}

/* testimonials */
#testimonials{
  
    padding: 7% 15% 1% 15%;
    color: #fff;
    background-color: #ff4c68;
    text-align: center;
   

}
.em{
    font-weight: bold;
}
.test{
    line-height: 1.5;
    font-size:30px;
    font-family: 'Montserrat';
    font-weight: bold;
}
.testimonials-image{
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

/* press */
#press{
     background-color: #ff4c68;
     text-align: center;
     padding-bottom: 3%;
}
#press img{
    width: 15%;
    margin: 20px 20px 50px;
}
/* Pricing */
.card-deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
}

.card-deck{
    margin: 4% 10%;
}
.card-deck .card-img-top {
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
    object-fit: cover;
}
.card{
    flex-basis: calc(33.33% - 40px);
    min-height: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.06);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-body {
    text-align: center;
    flex-grow: 1;
}

.center{
    text-align: center;
    margin-top: 2%;
}

#pricing h3,h2,p{
    font-family: 'Ubuntu';
    font-weight: bold;
}
#dan{
    font-weight: bold;
}

#cta{
    text-align: center;
    background-color: #ff4c68;
    height: 1.5;
    padding: 10% 0;
}

#cta h3{
    font-family: 'Ubuntu';
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
}
#cta button{
    margin-top: 2%;
}
#cta button:hover{
    font-weight: bolder;
}

#footer{
    background-color: rgb(70, 53, 53);
    text-align: center;
    color: #fff;
    padding: 0.5% 0 0.1% 0;
}
#footer a{
    text-decoration: none;
    font-size: 30px;
    color: #ff4c68;
    padding: 0 2%;
}
#footer a:hover{
    color: white;
}

/* Media Queries for different screen size */
@media (max-width: 991px) {

    .row h1 {
        font-size: 2rem;
    }
    .navbar-brand {
        font-size: 2rem;
    }
    .card {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .row h1 {
        font-size: 1.5rem;
    }
    .navbar-brand {
        font-size: 1.5rem;
    }
    .card {
        flex-basis: calc(100% - 20px);
    }
    .card-deck {
        margin: 7% 5%;
    }
}

@media (max-width: 1024px) {
    .card {
        flex-basis: calc(80% - 20px);
    }
}

#face{
   color: whitesmoke;
}
#face:hover{
    color: rgb(55, 135, 187);
    font-size: 35px;
}
#tweet{
    color: whitesmoke;
 }
 #tweet:hover{
     color: rgb(48, 154, 224);
     font-size: 35px;
 }
 #mail{
    color: whitesmoke;
 }
 #mail:hover{
     color: rgb(219, 89, 89);
     font-size: 35px;
 }
 #git{
    color: whitesmoke;
 }
 #git:hover{
     color: rgb(5, 5, 6);
     font-size: 35px;
 }
 #link{
    color: whitesmoke;
 }
 #link:hover{
     color: rgb(48, 154, 224);
     font-size: 35px;
 }
 #insta{
    color: whitesmoke;
 }
 #insta:hover{
     color: rgb(221, 63, 134);
     font-size: 35px;
 }