
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Ubuntu&display=swap');
*{
    font-family: 'Montserrat';
}

body::-webkit-scrollbar {
    width: 1.3rem;
  }
  
body::-webkit-scrollbar-track {
    background-color: #fff;
}
  
body::-webkit-scrollbar-thumb {
    background: #ff4c68;
    border: 5px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

#title{
    background-color: #ff4c68;
}
.row h1{
font-family: 'Ubuntu', sans-serif;
size: 3rem;
line-height: 1.5;
font-weight: bolder;
color: white;
}
.container-fluid{
    padding: 3% 15%;
}
#btn-id{
    padding-right: 3px;
}

/* Nav-bar */
.btn-close {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    
    font-family: 'Ubuntu';
    font-size: 3rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-weight: 800 !important;
    font-size: 1.5rem;
    color: white !important;
}

.nav-link:hover{
    color: rgb(211, 210, 210) !important;
}

/* Title image */
.title-image{
    width: 60%;
    transform: rotate(20deg);
}
/* intro */
#intro button:hover{
    font-weight: bolder;
}
/* features */
#features{

padding: 7% 15%;
text-align: center;
}
#icons{
    font-size: 3.5rem;
    padding-bottom: 10px;
    color: #ff4c68;
}
#icons:hover{
color: red;
}
#features h3{
    font-family: 'Ubuntu';
    /* font-weight: bolder; */
    font-size: 1.9rem;
}
#features p{
    font-weight: bold;
}

/* testimonials */
#testimonials{
  
    padding: 7% 15% 1% 15%;
    color: #fff;
    background-color: #ff4c68;
    text-align: center;
   

}
.em{
    font-weight: bold;
}
.test{
    line-height: 1.5;
    font-size:30px;
    font-family: 'Montserrat';
    font-weight: bold;
}
.testimonials-image{
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

/* press */
#press{
     background-color: #ff4c68;
     text-align: center;
     padding-bottom: 3%;
}
#press img{
    width: 15%;
    margin: 20px 20px 50px;
}
/* Pricing */
.card-deck{
    display: flex;
}

.card-deck{
    margin: 7% 15%;
}
.card-deck .card-img-top {
    height:auto;
    max-width:100%;
}
.card{
    margin: 0 20px;
}
.center{
    text-align: center;
    margin-top: 2%;
}
#pricing h3,h2,p{
    font-family: 'Ubuntu';
    font-weight: bold;
}
#dan{
    font-weight: bold;
}

#cta{
    text-align: center;
    background-color: #ff4c68;
    height: 1.5;
    padding: 10% 0;
}
#cta h3{
    font-family: 'Ubuntu';
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
}
#cta button{
    margin-top: 2%;
}
#cta button:hover{
    font-weight: bolder;
}

/* contact form */


 .contact .container .row h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: #ff4c68;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: rgb(70, 53, 53);
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}



#footer{
    background-color: rgb(70, 53, 53);
    text-align: center;
    color: #fff;
    padding: 0.5% 0 0.1% 0;
}
#footer a{
    text-decoration: none;
    font-size: 30px;
    color: #ff4c68;
    padding: 0 2%;
}
#footer a:hover{
    color: white;
}
